@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,500&display=swap");
.header-wrapper {
  background-color: #43aa5c;
  color: #fff;
  padding: 5px 0;
  font-weight: 600;
}
.header-wrapper .about div:not(:last-child) {
  padding-right: 30px;
}
.header-wrapper .about a {
  color: #fff;
}
.header-wrapper .about i {
  color: orangered;
  padding-right: 5px;
  font-size: 18px;
}
.header-wrapper .socials a {
  display: inline-block;
  color: #fff;
  font-size: 20px;
}
.header-wrapper .socials a:not(:last-child) {
  padding-right: 15px;
}

.nav_bar {
  background-color: #fff;
  padding: 15px 0;
}
.nav_bar_left {
  width: 20%;
}
.nav_bar_center {
  width: 50%;
}
.nav_bar_center .menu_items li a {
  color: #071c1f;
}
.nav_bar_center .menu_items li a:hover {
  color: #43aa5c;
}
.nav_bar_center .menu_items li a.active {
  color: #43aa5c;
}
.nav_bar_right {
  width: 30%;
}
.nav_bar_right button {
  padding-right: 30px;
  transition: all 0.5s ease-in;
}
.nav_bar_right button:hover {
  color: #43aa5c;
}
.nav_bar_right i {
  font-size: 20px;
}
.nav_bar_right .cart {
  display: inline-block;
  position: relative;
}
.nav_bar_right .cart .total_cart_items {
  position: absolute;
  right: 0px;
  top: -6px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #43aa5c;
  color: #fff;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_bar_right .burger_menu {
  display: inline-block;
  width: 28px;
  cursor: pointer;
}
.nav_bar_right .burger_menu_btn {
  display: inline-block;
  width: 100%;
  height: 3px;
  background-color: #071c1f;
  position: relative;
  left: 0;
  top: -8px;
}
.nav_bar_right .burger_menu_btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  width: 100%;
  height: 3px;
  background-color: #071c1f;
}
.nav_bar_right .burger_menu_btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 100%;
  height: 3px;
  background-color: #071c1f;
}

.nav {
  background-color: #071c1f;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  transform: translateX(100%);
  transition: all 0.5s ease-in;
  z-index: 999;
}
.nav.active {
  transform: translateX(0%);
}
.nav_items {
  max-width: 100%;
  width: 350px;
  background-color: #fff;
  padding: 50px;
  text-align: center;
  transition: all 0.5s ease-in;
  transition-delay: 0.5s;
  transform: translateX(100vw);
  visibility: hidden;
}
.nav_items.active {
  transform: translateX(0vw);
  visibility: visible;
}
.nav_item {
  transition: all 0.5s ease-in;
}
.nav_item:first-child {
  padding-bottom: 50px;
}
.nav_item:not(:first-child) {
  padding-bottom: 15px;
}
.nav_link {
  color: #071c1f;
  transition: all 0.5s ease-in;
}
.nav_link.active {
  color: #43aa5c;
}
.nav_link:hover {
  color: #43aa5c;
}

@media (min-width: 992px) {
  .nav_bar_right .burger_menu {
    display: none;
  }
}
@media (max-width: 600px) {
  .nav_bar_left {
    width: 50%;
  }
  .nav_bar_center {
    display: none;
  }
  .nav_bar_right {
    width: 50%;
  }
}
.register .logo {
  width: 10%;
}

.options-wrapper {
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 30px;
  margin: 50px auto 0;
}
.options-wrapper .section-title h1.md-heading {
  text-transform: capitalize;
}
.options-wrapper .options_details {
  padding: 30px;
  border: 2px solid #ddd;
  border-radius: 5px;
  margin-bottom: 30px;
  transition: all 0.5s ease-in;
}
.options-wrapper .options_details h6 {
  padding: 30px 0;
}
.options-wrapper .options_details:hover {
  box-shadow: 0 0 1px #43aa5c;
  border-color: #43aa5c;
}
.options-wrapper .options_details.active {
  border-color: #43aa5c;
  background-color: rgba(67, 170, 93, 0.3058823529);
}
.options-wrapper .options_icons {
  text-align: right;
}
.options-wrapper .options_icons input[type=radio]::after {
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -5px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid #fff;
}
.options-wrapper .options_icons input[type=radio]:checked::after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -4px;
  left: -1px;
  position: relative;
  background-color: #43aa5c;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
.options-wrapper .apply-btn button {
  font-size: 18px;
  display: inline-block;
  background-color: #43aa5c;
  border-radius: 50px;
  padding: 20px 50px;
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
}

@media (min-width: 728px) {
  .options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin: 0 auto;
    gap: 30px;
    text-align: right;
    grid-auto-flow: column;
  }
}
@media (min-width: 992px) {
  .options-wrapper {
    max-width: 60vw;
  }
  .options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin: 0 auto;
    gap: 30px;
    text-align: right;
    grid-auto-flow: column;
  }
}
.header_loog {
  width: 10%;
}

.form-wrapper {
  border: 2px solid #ddd;
  padding: 50px;
  border-radius: 25px;
  min-width: 50%;
  max-width: 60%;
  margin: 0 auto;
  overflow: hidden;
}

.social-accounts div {
  margin-bottom: 30px;
}

form button {
  padding: 15px 0;
  border: 1px solid #999;
  border-radius: 25px;
  font-weight: 600;
  width: 100%;
  transition: all 0.5s ease-in;
}
form .apple button {
  background-color: #fff;
}
form .apple button:hover {
  background-color: #f2f7f2;
}
form .google button {
  background-color: #4285f4;
}
form .google button:hover {
  background-color: #3367d6;
}
form .google button i {
  color: red;
}
form .google button span {
  color: #fff;
}
form .divider {
  position: relative;
}
form .divider p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}
form fieldset {
  margin-bottom: 30px;
}
form fieldset label {
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
}
form fieldset label span {
  color: red;
}
form fieldset input,
form fieldset select {
  width: 100%;
  padding: 15px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 20px;
}
form .submit-btn button {
  background-color: #071c1f;
  color: #fff;
  position: relative;
  transition: all 0.5s ease-in;
  z-index: 1;
}
form .submit-btn button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #43aa5c;
  border-radius: 25px;
  opacity: 0;
  transform: translateX(-50%);
  transition: all 0.5s ease-in;
}
form .submit-btn button:hover:before {
  opacity: 1;
  transform: translateX(0%);
}
form .agreement a {
  color: #43aa5c;
}

.cart_wrapper {
  overflow: hidden;
  max-width: 100%;
  width: 350px;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  transform: translateX(25vw);
  transition: all 0.5s ease-in;
}
.cart_wrapper.active {
  visibility: visible;
  opacity: 1;
  transform: translateX(0vw);
}
.cart_wrapper .cart_box {
  height: 60vh;
  background-color: #fff;
  padding: 0 30px;
  overflow-y: scroll;
}
.cart_wrapper .cart_box::-webkit-scrollbar {
  width: 5px;
  background-color: #071c1f;
}
.cart_wrapper .cart_box::-webkit-scrollbar-thumb {
  width: 2px;
  border-radius: 5px;
  background-color: #43aa5c;
}
.cart_wrapper .cart_box .cart_title {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
  padding: 15px 0;
  border-bottom: 2px solid #ddd;
}
.cart_wrapper .cart_box .cart_item {
  position: relative;
  padding: 30px 0;
}
.cart_wrapper .cart_box .cart_item:not(:last-child) {
  border-bottom: 2px solid #ddd;
}
.cart_wrapper .cart_box .cart_item_details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.cart_wrapper .cart_box .cart_item_remove button {
  position: absolute;
  top: 15px;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-weight: 300;
  color: red;
  box-shadow: 0 1px 6px 0 rgba(54, 56, 61, 0.15);
  transition: all 0.5s ease-in;
}
.cart_wrapper .cart_box .cart_item_remove button:hover {
  color: #fff;
  background-color: red;
}
.cart_wrapper .cart_box .cart_item_image {
  width: 35%;
  margin-right: 30px;
}
.cart_wrapper .cart_box .cart_item_detail {
  width: 65%;
  text-align: left;
}
.cart_wrapper .cart_box .cart_item_detail h5 {
  font-weight: 600;
  margin: 0;
}
.cart_wrapper .cart_box .cart_item_detail .quantity::after {
  content: "Kg";
  display: inline-block;
  padding-left: 5px;
}
.cart_wrapper .cart_box .cart_item_detail .rate::before {
  content: "NPR. ";
  display: inline-block;
  padding-right: 5px;
}
.cart_wrapper .cart_box .cart_item_detail .rate::after {
  content: "/kg";
  display: inline-block;
}
.cart_wrapper .cart_total {
  padding: 15px 0;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}
.cart_wrapper .cart_total span {
  color: #43aa5c;
  font-weight: 600;
  font-size: 18px;
}
.cart_wrapper .checkout {
  display: inline-block;
  text-transform: uppercase;
  background-color: #071c1f;
  color: #fff;
  font-weight: 600;
  padding: 15px;
  margin: 15px 0;
  transition: all 0.5s ease-in;
}
.cart_wrapper .checkout:hover {
  background-color: #43aa5c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

p {
  line-height: 1.5;
  margin-bottom: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin-bottom: 0.5em;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
}

button,
input,
select {
  outline: none;
}

img {
  width: 100%;
}

.xl-heading {
  font-size: 300px;
  font-weight: 900;
  margin-bottom: 0;
  color: #43aa5c;
}

.lg-heading {
  font-size: 48px;
  font-weight: 900;
}

.md-heading {
  font-size: 32px;
  font-weight: 900;
}

.sm-heading {
  font-size: 22px;
  font-weight: 900;
}

.section-wrapper {
  padding: 50px 0;
}

.section-title {
  text-align: center;
  margin-bottom: 30px;
}

.shop-btn,
.more-btn {
  color: #fff;
  background-color: #43aa5c;
  padding: 15px;
  font-weight: 600;
}

.shop-btn:hover,
.more-btn:hover {
  background-color: #071c1f;
  color: #fff;
  transition: all 0.5s ease-in;
}/*# sourceMappingURL=styles.css.map */