@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,500&display=swap");
.options-wrapper {
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 30px;
  margin: 50px auto 0;
}
.options-wrapper .section-title h1.md-heading {
  text-transform: capitalize;
}
.options-wrapper .options_details {
  padding: 30px;
  border: 2px solid #ddd;
  border-radius: 5px;
  margin-bottom: 30px;
  transition: all 0.3s ease-in;
}
.options-wrapper .options_details h6 {
  padding: 30px 0;
}
.options-wrapper .options_details:hover {
  box-shadow: 0 0 1px #80b500;
  border-color: #80b500;
}
.options-wrapper .options_details.active {
  border-color: #80b500;
  background-color: rgba(127, 181, 0, 0.3137254902);
}
.options-wrapper .options_icons {
  text-align: right;
}
.options-wrapper .options_icons input[type=radio]::after {
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -5px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid #fff;
}
.options-wrapper .options_icons input[type=radio]:checked::after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -4px;
  left: -1px;
  position: relative;
  background-color: #80b500;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
.options-wrapper .apply-btn a {
  font-size: 18px;
  display: inline-block;
  background-color: #80b500;
  border-radius: 50px;
  padding: 20px 50px;
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
}

@media (min-width: 728px) {
  .options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin: 0 auto;
    gap: 30px;
    text-align: right;
    grid-auto-flow: column;
  }
}
@media (min-width: 992px) {
  .options-wrapper {
    max-width: 60vw;
  }
  .options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin: 0 auto;
    gap: 30px;
    text-align: right;
    grid-auto-flow: column;
  }
}
.form-wrapper {
  border: 2px solid #ddd;
  padding: 50px;
  border-radius: 25px;
  min-width: 50%;
  max-width: 80%;
  margin: 0 auto;
}

.social-accounts div {
  margin-bottom: 30px;
}

form button {
  padding: 15px 0;
  border: 1px solid #999;
  border-radius: 25px;
  font-weight: 600;
  width: 100%;
  transition: all 0.3s ease-in;
}
form .apple button {
  background-color: #fff;
}
form .apple button:hover {
  background-color: #f2f7f2;
}
form .google button {
  background-color: #4285f4;
}
form .google button:hover {
  background-color: #3367d6;
}
form .google button i {
  color: red;
}
form .google button span {
  color: #fff;
}
form .divider {
  position: relative;
}
form .divider p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}
form fieldset {
  margin-bottom: 30px;
}
form fieldset label {
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
}
form fieldset label span {
  color: red;
}
form fieldset input,
form fieldset select {
  width: 100%;
  padding: 15px;
  border: 2px solid #ddd;
  border-radius: 5px;
}
form .submit-btn button {
  background-color: #071c1f;
  color: #fff;
  position: relative;
  transition: all 0.3s ease-in;
}
form .submit-btn button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #80b500;
  border-radius: 25px;
  opacity: 0;
  transform: translateX(-50%);
}
form .submit-btn button:hover button::before {
  opacity: 1;
  transform: translateX(0%);
}
form .agreement a {
  color: #80b500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

p {
  line-height: 1.5;
  margin-bottom: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin-bottom: 0.5em;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
}

button,
input,
select {
  outline: none;
}

.xl-heading {
  font-size: 300px;
  font-weight: 900;
  margin-bottom: 0;
  color: #80b500;
}

.lg-heading {
  font-size: 48px;
  font-weight: 900;
}

.md-heading {
  font-size: 32px;
  font-weight: 900;
}

.sm-heading {
  font-size: 22px;
  font-weight: 900;
}

.section-wrapper {
  padding: 50px 0;
}

.section-title {
  text-align: center;
  margin-bottom: 30px;
}

.shop-btn,
.more-btn {
  color: #fff;
  background-color: #80b500;
  padding: 15px;
  font-weight: 600;
}

.shop-btn:hover,
.more-btn:hover {
  background-color: #071c1f;
  color: #fff;
  transition: all 0.3s ease-in;
}/*# sourceMappingURL=styles.css.map */